<div class="container py-3">

         <div class="col-md-4">
            <!--Card 1-->
            <div class="card">
                <!--Card headers-->
                <div class="row">
                  <div class="col-8">
              <h4 class="d-flex card-title">  <i class="d-flex bi-person-circle"></i>{{user_name}}</h4>
              <h6 class="d-flex card-subtitle text-muted">Placeholder bio text</h6>
                    </div>
                    <div class="col-4">                    
              <i class="bi bi-envelope">{{email}}</i><br>
              <i class="bi bi-star">Favorite</i><br>
              <i class="bi bi-github">{{github_name}}</i>
              </div>
                </div>

              <div class="row">
                 <div class="col-5">
                    <a href="#" class="card-link">Strengths:</a>
                        <ul class="langlist">
                            <li>Language</li>
                            <li>Language</li>
                            <li>Language</li>
                        </ul>
                 </div>
              </div>
        </div>