

         <div class="col-md-4">
            <!--Card 1-->
            <div class="card">
                <!--Card headers-->
                <div class="row">
                  <div class="col-8">
              <h4 class="d-flex card-title">  <i class="d-flex bi-person-circle"></i>{{user_name}}</h4>
              <h6 class="d-flex card-subtitle text-muted">Placeholder bio text</h6>
                    </div>
                    <div class="col-4">                    
              <a href="mailto:{{email}}"><i class='fas fa-envelope fa-xl'></i></a><br>
              {{!-- Favorite<br> --}}
              <a href="http://github.com/{{github_name}}"><i class="fa-brands fa-github fa-xl"></i></a>
              </div>
                </div>

              <div class="row">
                 <div class="col-5">
                    <a href="#" class="card-link">Strengths:</a>
                        <ul class="langlist">
                          {{#each user_languages as |language|}}
                            <li>{{language.language_name}}</li>
                          {{/each}}
                        </ul>
                 </div>
              </div>
        </div>
      </div>