<div class="col-4 m-2 border border-white align-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title border-white text-white">{{user_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Strengths</h6>
      <ul class="langlist ">
        {{#each user_languages as |language|}}
        <li class="text-white">{{language.language_name}}</li>
        {{/each}}
        </ul>
    <a href="mailto:{{email}}"><i class='fas fa-envelope fa-xl mx-auto'></i></a>
    <a href="http://github.com/{{github_name}}"><i class="fa-brands fa-github fa-xl mx-auto"></i></a>
  </div>
</div>