
<div class="col-12 col-lg-6 p-2">
  <div class="card mx-auto bg-dark make-bigger text-white p-3 h-100">
    <h3 class="card-title border-white">Repo: {{repo_name}}</h3>
    <p>Description: {{description}}</p>
    <ul class="repo-languages">Languages:</ul>
    {{#each languages as |language|}}
    <li class="repo-language">{{language}}</li>
    {{/each}}
    <a href="{{url}}"><i class="fa-brands fa-github fa-lg"></i></a>
  </div>
</div>

