<div class="container d-flex flex-column justify-content-center py-1 text-center">
<p>
  {{text}}<br>
<select id={{question_name}} name="answer" class=" form-control signup-select text-center">
  {{#each options as |option|}}
    <option value={{option.id}} class="form-control">{{option.option}}</option>
  {{/each}}
</select>
</p>
</div>