<section class="card">
  <!-- The contents of the painting card links to the painting page using the painting ID -->
  <a href="/signup/{{id}}">
    <!-- The card contains the painting name as the card header -->
    <p>{{question.text}}</p>
    <!-- In the body of the card, the painting is rendered along with the artist name -->
</section>