  <h2 class="d-flex justify-content-center">Dashboard</h2><br>
  <!--Search bar-->
  <!-- <form class="d-flex justify-content-center"id="searchbar"> 
    <div class="input-group mb-1" >
        <div class="mx-3">
        </div>
        <input type="text" class="search-form" placeholder="Start typing technologies">
      </div>
      <button type="button" class="btn btn-dark me-3">Search!</button>
    </form> -->
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search.." id="searchbar">
        <button type="button" class="btn btn-dark me-3" id="searchBtn">Search!</button>
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
    </div>

<div class="container py-3">
{{#each users as |user|}}
{{>cards}}
{{/each}}
</div>

</body>
<script src="/js/navbar.js"></script>
<script src="/js/autofillsearch.js"></script>
<script src="/js/searchcookie.js"></script>

</html>
