{{!-- <h2 class="d-flex justify-content-center mt-5">Dashboard</h2> --}}
<div class="wrapper">
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input type="text" placeholder="Search by languages.." id="searchbar">
    {{!-- <button type="button" class="btn btn-dark me-3" id="searchBtn">Search!</button> --}}
    <div class="autocom-box">
      <!-- here list are inserted from javascript -->
    </div>
    <div class="selected-box">
      {{!-- Here include the selected items --}}
    </div>
    <div id="searchBtn" class="icon"><i class="fas fa-search"></i></div>
  </div>
</div>

<div class="container-fluid d-flex flex-row flex-wrap align-items-stretch">
  <div class="row w-100 justify-content-center m-0">
    {{#each users as |user|}}
    {{>cards}}
    {{/each}}
  </div>
</div>

</body>
<script src="/js/autofillsearch.js"></script>

</html>


