<a href="/" class="previous">Back</a>
<h2 class="d-flex justify-content-center pt-3 text-white display-1">Sign up</h2>


<div id="names" class="container d-flex flex-column justify-content-center p-3">
  <form class="form-group row justify-content-center signup-form">
    <div class="form-group row justify-content-center">
        <label for="email-signup" class="text-center">Full Name:</label>
        <input class="form-input text-center" type="text" id="user_name"  />
    </div>
      <div class="form-group row justify-content-center py-1">
        <label for="email-signup" class="text-center">Email:</label>
        <input class="form-input text-center" type="text" id="email-signup" />
      </div>
      <div class="form-group row justify-content-center py-1">
        <label for="password-signup" class="text-center">Password:</label>
        <input class="form-input text-center" type="password" id="password-signup" />
      </div>
      <div class="form-group row justify-content-center py-1">
        <label for="github_name" class="text-center">Github Name:</label>
        <input class="form-input text-center" type="text" id="github_name" />
      </div>
      <div class="form-group row justify-content-center py-1">
        <label for="language-signup" class="text-center">What languages do you know?:</label>
        {{!-- <input class="form-input text-center" type="text" id="languages" placeholder="Type to Search..." /> --}}
        <div class="search-input form-group">
          <a href="" target="_blank" hidden></a>
          <input class="form-input" type="text" placeholder="Type to find languages.." id="searchbar">
          {{!-- <button type="button" class="btn btn-dark me-3" id="searchBtn">Search!</button> --}}
          <div class="autocom-box">
            <!-- here list are inserted from javascript -->
          </div>
          <div class="selected-box">
            {{!-- Here include the selected items --}}
          </div>
        </div>
      </div>
    {{#each questions as |question|}} 
    {{>signup-question}}
    {{/each}}
    </div>
    <div class="form-group row justify-content-center py-1">
      <div>
        <img class="mx-auto d-block" src={{captcha.image}} width={{captcha.width}} height={{captcha.height}}>
      </div>
      <label for="captcha-input" class="text-center py-1">What does the Captcha Say?</label>
      <input class="form-input text-center py-1" type="text" id="captcha_input"/>
    </div>
    <div class="row py-1 px-2 form-group">
      <input class="btn btn-primary" type="submit" value="submit"></input>
    </div>
  </form>
</div>
<br>

<script src="/js/autofillinput.js"></script>
<script src="/js/signup.js"></script>