* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 25px;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: grey;
}

.mail {
  position: relative;
  z-index: 100;
}

.github {
  position: relative;
  z-index: 110;
}
/* button style */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* button style */

.navbar {
  /* display: flex;
  position: relative; 
  justify-content: space-between; */
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 2.5rem;
  margin: 0.5rem;
  color: #1ee9eb;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: #1ee9eb;
  margin: 0.2rem;
  border-radius: 10px;
}

.navbar-links li a:hover {
  background-color: #555;
  color: black;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.email-form {
  width: 100%;
}

.password-form {
  width: 100%;
}
.search-form {
  width: 80%;
}
/* .langlist {
  list-style-position: inside;
} */
.logo {
  float: left;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
}

.form-input {
  padding: 0.2rem;
  margin: 0.2rem;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Below is for search bar */

::selection {
  color: #fff;
  background: #664aff;
}
.wrapper {
  max-width: 450px;
  margin: 4rem auto;
}
.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.search-input.active input {
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}
.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.card .mx-auto {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.compatlist {
  padding-left: 30%;
}
.compatlist li {
  list-style-type: none;
  text-align: left;
}
.langlist {
  padding: 0;
}
.langlist li {
  list-style-type: none;
}

.make-bigger:hover {
  transform: translate3D(0, -1px, 0) scale(1.1);
}

a {
  text-decoration: none;
  padding: 8px 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.stretched-link {
  visibility: hidden;
}
